@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
    height: 98vh;
    margin: auto;
}

header {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    text-align: center;
    padding: 30px;
}

header:hover {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#resumo {
    font-size: 22px;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
}

section{
    padding: 20px;
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 10px;
    box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.438);
}

article {
    padding: 50px;
    text-align: center ;
    margin-bottom: 10px;
}

article.contos01 {
    background-color: blanchedalmond;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    display: block;
}

article.contos02 {
    background-color: darkgrey;
    height: 600px;
}

article > h2 {
    padding: 15px;
}

article > img {
    margin-bottom: 30px;
}

article > img:hover {
    border: 2px solid black;
    border-radius: 5px;
}

article > p {
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}